<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar exchange</title>
</head>
<body>
<div align="center">
    <a href="/users">Users</a>
    <a href="/posts">Posts</a>
    <a href="/posts/form">Cadastrar post</a>
    <a href="/exchanges">Trocas</a>
    <a href="/exchanges/form">Cadastrar trocas</a>
</div>

<div class="limiter">
    <div class="container">
        <form th:action="@{/exchanges/register}" action="#" th:object="${exchange}" method="post">
            <h1>Cadastrar troca</h1>
            <p>
                <input th:field="*{item}" id="item" name="item" placeholder="Produto/serviço que deseja trocar" type="text" />
            </p>
            <p>
                <input th:field="*{exchange}" id="exchange" name="exchange" placeholder="Produto/serviço que deseja em troca" type="text" />
            </p>
            <p>
                <input th:field="*{date}" id="date" name="date" placeholder="Data" type="text" />
            </p>
            <p>
                <input th:field="*{user.id}" id="user" name="user" placeholder="Usuario" type="number" />
            </p>
            <p>
                <button class="save" type="submit">Salvar</button>
            </p>
            <p>
                <a class="home" href="/home">Voltar</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>