<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/login.css}" rel="stylesheet" />
</head>
<body>
<div class="limiter">
    <div class="container">
        <form>
            <h1>Login</h1>
            <p>
                <input placeholder="Email" type="email" />
            </p>
            <p>
                <input placeholder="Senha" type="password" />
            </p>
            <p>
                <a class="login" href="/home">Entrar</a>
            </p>
            <p>
                <a class="register" href="/clients">Criar uma conta</a>
            </p>
        </form>
    </div>
</div>

</body>
</html>