<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Troca</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Troca</h1>
    <hr />
    <div class="form-group">
        <label for="item">Produto/serviço que quer trocar: </label>
        <span th:text="${exchange.item}"></span>
    </div>
    <div class="form-group">
        <label for="exchange">Produto/serviço que deseja em troca: </label>
        <span th:text="${exchange.exchange}"></span>
    </div>
    <div class="form-group">
        <label for="date">Data: </label>
        <span th:text="${exchange.date}"></span>
    </div>
    <div class="form-group">
        <label for="user">Usuário: </label>
        <span th:text="${exchange.user.username}"></span>
    </div>
    <div>
        <form th:action="@{${exchange.id +'/delete'}}" th:object="${exchange}" method="post">
            <input type="hidden" th:field="${exchange}">Delete</input>
            <button type="submit" onClick="return confirm('sure?')"/>
        </form>
    </div>
</div>
</body>
</html>