<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Perfil de usuário</title>
	</head>
	<body>

		<div align="center"> 
		<a href="/users">Users</a>
		<a href="/posts">Posts</a>
		<a href="/posts/form">Cadastrar post</a>
		</div>
		
		<div layout:fragment="content">
			<h1>Perfil de Usuário</h1>
			<hr />
			<div class="form-group"> 
				<label for="username">Name: </label>  
				<span th:text="${user.username}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="email">Email: </label>  
				<span th:text="${user.email}"></span> 
			</div>
			<div class="form-group"> 
				<label for="email">Apartamento: </label>  
				<span th:text="${user.apartment}"></span> 
			</div>
			<div class="form-group"> 
				<label for="email">Telefone: </label>  
				<span th:text="${user.phone}"></span> 
			</div>  
			
		</div>
	</body>
</html>